<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta
      name="Description"
      content="Das ist die THW Ortsverbands Online-Verwaltung OVOrg"
    />
    <meta name="theme-color" content="#ffffff" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/img/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/img/favicon-16x16.png"
    />
    <title><%= VUE_APP_NAME %></title>
  </head>
  <body>
    <noscript>
      <strong
        >Es tut und leid, das <%= VUE_APP_NAME %> funktioniert nicht ohne
        aktiviertem JavaScript. Bitte aktiviere JavaScript um
        fortzufahren.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
