<template>
  <v-container class="fill-height" fluid>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="8" md="4">
        <v-card class="elevation-12">
          <v-toolbar dark color="primary">
            <v-toolbar-title>Authorisieren</v-toolbar-title>
          </v-toolbar>
          <v-card-text>
            <v-form v-model="valid" ref="form" lazy-validation>
              <v-text-field
                v-model="credentials.client_id"
                v-on:keyup.enter="login()"
                required
                :rules="rules.required"
                label="ClientID"
                id="clientID"
              ></v-text-field>
              <v-text-field
                v-model="credentials.client_secret"
                v-on:keyup.enter="login()"
                required
                :rules="rules.required"
                name="client_secret"
                label="Token"
                id="token"
                type="password"
                autocomplete="current-password"
              ></v-text-field>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" :disabled="!valid" @click="login"
              >Authorisieren</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>

    <v-dialog v-model="loader" hide-overlay persistent width="300">
      <v-card color="primary" dark>
        <v-card-text class="pt-4">
          Bitte warten!
          <v-progress-linear
            indeterminate
            color="white"
            class="mb-0"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    credentials: {
      client_id: "",
      client_secret: "",
      grant_type: "client_credentials",
      scope: ["time_tracking"]
    },
    valid: true,
    loader: false,
    rules: {
      required: [v => !!v || "Benötigt."]
    }
  }),
  mounted: function() {
    if (this.$route.params.token) {
      this.credentials.client_secret = this.$route.params.token;
      this.credentials.client_id = this.$route.params.client_id;
      this.login(true);
    }
  },
  methods: {
    login(auto) {
      if (this.$refs.form.validate() || auto) {
        this.loader = true;
        this.$store
          .dispatch("authRequest", this.credentials)
          .then(() => {
            this.loader = false;
            this.$router.push({ name: "presence" });
          })
          .catch(() => {
            this.loader = false;
          });
      }
    }
  }
};
</script>
