<template>
  <v-container fluid>
    <v-row>
      <v-col sm="12" :md="settings.layout.stabWidth" class="pa-3">
        <p class="text-h4" @click="dialog = true">OV-Stab</p>
        <v-container fluid class="pa-0 d-flex flex-row flex-wrap">
          <UserPresenceCard
            v-for="user in stabUsers"
            :key="user.id"
            :user="user"
            :card="settings.card"
          />
        </v-container>
      </v-col>
      <v-col sm="12" :md="12 - settings.layout.stabWidth" class="pa-3">
        <p class="text-h4" @click="dialog = true">Technischer Zug</p>
        <v-container fluid class="pa-0 d-flex flex-row flex-wrap">
          <div v-for="(division, index) in fuehrungUsers" :key="index">
            <UserPresenceCard
              v-for="user in division"
              :key="user.id"
              :user="user"
              :card="settings.card"
              class="mb-4"
            />
          </div>
        </v-container>
      </v-col>
      <v-col sm="12" class="pa-3">
        <p class="text-h4" @click="dialog = true">Helfer</p>
        <v-container fluid class="pa-0 d-flex flex-row flex-wrap">
          <UserPresenceCard
            v-for="user in otherUsers"
            :key="user.id"
            :user="user"
            :card="settings.card"
          />
        </v-container>
      </v-col>
    </v-row>

    <v-dialog v-model="dialog" width="500">
      <v-card>
        <v-card-title class="text-h5 primary white--text" primary-title
          >Einstellungen</v-card-title
        >
        <v-card-text class="pt-4">
          <v-container>
            <v-row>
              <v-col cols="12">
                <v-slider
                  v-model="settings.card.width"
                  label="Kartenbreite"
                  min="100"
                  max="500"
                ></v-slider>
              </v-col>
              <v-col cols="12">
                <v-slider
                  v-model="settings.card.nameSize"
                  label="Größe Name"
                  min="0"
                  max="2"
                  step="0.1"
                ></v-slider>
              </v-col>
              <v-col cols="12">
                <v-slider
                  v-model="settings.card.distance"
                  label="Abstand"
                  min="-20"
                  max="20"
                ></v-slider>
              </v-col>
              <v-col cols="12">
                <v-slider
                  v-model="settings.card.positionSize"
                  label="Größe Funktion"
                  min="0"
                  max="2"
                  step="0.1"
                ></v-slider>
              </v-col>
              <v-col cols="12">
                <v-slider
                  v-model="settings.layout.stabWidth"
                  label="Stab Breite"
                  min="1"
                  max="11"
                ></v-slider>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import UserPresenceCard from "@/components/UserPresenceCard.vue";

export default {
  components: {
    UserPresenceCard
  },
  data: () => ({
    settings: {
      card: {
        width: 200,
        nameSize: 1,
        positionSize: 1,
        distance: 0
      },
      layout: {
        stabWidth: 6
      }
    },
    dialog: false
  }),
  mounted: function() {
    if (localStorage.settings) {
      this.settings = JSON.parse(localStorage.settings);
    } else {
      localStorage.settings = JSON.stringify(this.settings);
    }
  },
  created: function() {
    this.$store.dispatch("fetchUsers");
  },
  computed: {
    stabUsers() {
      return this.$store.getters.stabUsers;
    },
    fuehrungUsers() {
      return this.$store.getters.fuehrungUsers;
    },
    otherUsers() {
      return this.$store.getters.otherUsers;
    }
  },
  watch: {
    settings: {
      deep: true,
      handler() {
        localStorage.settings = JSON.stringify(this.settings);
      }
    }
  }
};
</script>

<style scoped>
.grid-list .flex {
  flex: none;
}
</style>
