<template>
  <svg
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    x="0px"
    y="0px"
    viewBox="0 0 500 144"
    enable-background="new 0 0 500 144"
    xml:space="preserve"
  >
    <g id="Ebene_1">
      <path
        id="DSK"
        v-bind:style="a"
        d="M480,16H292c-11.7-8.8-26.2-14-42-14s-30.3,5.2-42,14H20c-8.3,0-15,6.7-15,15V113
		c0,8.3,6.7,15,15,15h188c11.7,8.8,26.2,14,42,14s30.3-5.2,42-14h188c8.3,0,15-6.7,15-15V31C495,22.7,488.3,16,480,16z"
      />
      <g id="Rahmen">
        <path
          v-bind:style="b"
          d="M193.3,113H30.8c-5.9,0-10.8-4.8-10.8-10.8V41.8C20,35.8,24.8,31,30.8,31h162.5c1-1.4,2-2.7,3.1-4H30.8
			C22.6,27,16,33.6,16,41.8v60.5c0,8.1,6.6,14.8,14.8,14.8h165.6C195.3,115.7,194.3,114.4,193.3,113z"
        />
        <path
          v-bind:style="b"
          d="M469.2,27H303.6c1.1,1.3,2.1,2.6,3.1,4h162.5c5.9,0,10.8,4.8,10.8,10.8v60.5c0,5.9-4.8,10.8-10.8,10.8
			H306.7c-1,1.4-2,2.7-3.1,4h165.6c8.1,0,14.8-6.6,14.8-14.8V41.8C484,33.6,477.4,27,469.2,27z"
        />
      </g>
      <g id="THW">
        <path
          v-bind:style="b"
          d="M297.3,89.8c1.1-3.1,2.1-6.3,2.6-9.6l13-2.2c0.2-3.6,0.1-10,0-12.3c-2.7-0.4-8-0.9-13-1.8
			c-0.5-3.3-1.4-6.5-2.6-9.6l10.2-8.4c-1.6-3.7-3.7-7.1-6-10.4l-12.3,4.6c-2.1-2.6-4.5-4.9-7.1-7.1l4.6-12.3
			c-3.3-2.3-6.7-4.3-10.4-6l-8.4,10.1c-3.1-1.2-6.3-2-9.6-2.6l-2.2-13c-4-0.4-8-0.4-12,0l-2.2,13c-3.3,0.5-6.5,1.4-9.6,2.6
			l-8.4-10.1c-3.7,1.6-7.1,3.7-10.4,6l4.6,12.3c-2.6,2.1-5,4.5-7,7.1l-12.4-4.6c-2.3,3.3-4.4,6.7-6,10.4l10.2,8.4
			c-1.2,3.1-2,6.3-2.6,9.6l-13,2.2c-0.3,4-0.3,8,0,12l13,2.2c0.5,3.3,1.4,6.5,2.6,9.6l-10.2,8.4c1.6,3.6,3.7,7.1,6,10.4l12.4-4.6
			c2.1,2.6,4.5,4.9,7,7.1l-4.6,12.3c3.3,2.3,6.7,4.4,10.4,6l8.4-10.1c3.1,1.2,6.3,2,9.6,2.6l2.2,13c4,0.4,8,0.4,12,0l2.2-13
			c3.3-0.5,6.5-1.4,9.6-2.6l8.4,10.1c3.7-1.6,7.1-3.7,10.4-6L282,111c2.6-2.1,4.9-4.5,7.1-7.1l12.3,4.6c2.3-3.3,4.3-6.7,6-10.4
			L297.3,89.8z M270.6,106.6l-7.3,12.1l-4.5-7.5c-5.7,1.3-11.7,1.3-17.5,0l-4.5,7.5c-2.6-4.1-4.8-8.4-7.6-12.3
			c-12.4-7.2-20.2-21.6-19.4-36c0.3-14.1,8.8-27.4,21.3-33.9v-8.9H269v8.9c12.6,6.5,21,20,21.3,34.1
			C290.8,88.4,282.1,99.6,270.6,106.6z"
        />
        <polygon
          v-bind:style="b"
          points="241.4,36.6 245.9,36.6 245.9,53.4 244.1,53.4 244.1,60.6 256.1,60.6 256.1,53.4 254.3,53.4 
			254.3,36.6 258.8,36.6 258.8,38.4 267.2,38.4 267.2,29.4 233,29.4 233,38.4 241.4,38.4 		"
        />
        <polygon
          v-bind:style="b"
          points="243.5,79.2 241.7,79.2 241.7,72 258.5,72 258.5,79.2 256.7,79.2 256.7,86.4 268.7,86.4 
			268.7,79.2 266.9,79.2 266.9,50.4 268.7,50.4 268.7,43.2 256.7,43.2 256.7,50.4 258.5,50.4 258.5,64.8 241.7,64.8 241.7,50.4 
			243.5,50.4 243.5,43.2 231.4,43.2 231.4,50.4 233.3,50.4 233.3,79.2 231.4,79.2 231.4,86.4 243.5,86.4 		"
        />
        <polygon
          v-bind:style="b"
          points="270.5,86.4 272.2,86.4 263.3,101.2 250,79.2 236.8,101.2 228,86.4 229.7,86.4 229.7,79.2 
			215.2,79.2 215.2,86.4 219.6,86.4 236.9,115.2 250.1,93.2 263.3,115.2 280.6,86.4 284.9,86.4 284.9,79.2 270.5,79.2 		"
        />
      </g>
      <g v-if="dsk.h1">
        <rect
          x="335"
          y="66"
          display="inline"
          v-bind:style="b"
          width="146"
          height="12"
          b
        />
        <rect
          x="19"
          y="66"
          display="inline"
          v-bind:style="b"
          width="146"
          height="12"
          b
        />
      </g>
      <g v-if="dsk.hq">
        <rect
          x="361.7"
          y="53.9"
          display="inline"
          v-bind:style="b"
          width="57.4"
          height="36"
          b
        />
        <rect
          x="80.9"
          y="53.9"
          display="inline"
          v-bind:style="b"
          width="57.4"
          height="36"
          b
        />
      </g>
      <g v-if="dsk.h2q">
        <rect
          x="107.4"
          y="54"
          display="inline"
          v-bind:style="b"
          width="43.6"
          height="36"
          b
        />
        <rect
          x="51.4"
          y="54"
          display="inline"
          v-bind:style="b"
          width="43.6"
          height="36"
          b
        />
        <rect
          x="350"
          y="54"
          display="inline"
          v-bind:style="b"
          width="42.6"
          height="36"
          b
        />
        <rect
          x="405"
          y="54"
          display="inline"
          v-bind:style="b"
          width="42.6"
          height="36"
          b
        />
      </g>
      <g v-if="dsk.hd">
        <rect
          x="335"
          y="54"
          display="inline"
          v-bind:style="b"
          width="146"
          height="36"
          b
        />
        <rect
          x="19"
          y="54"
          display="inline"
          v-bind:style="b"
          width="146"
          height="36"
          b
        />
      </g>
      <g v-if="dsk.h2">
        <rect
          x="335"
          y="78"
          display="inline"
          v-bind:style="b"
          width="146"
          height="12"
          b
        />
        <rect
          x="335"
          y="54"
          display="inline"
          v-bind:style="b"
          width="146"
          height="12"
          b
        />
        <rect
          x="19"
          y="78"
          display="inline"
          v-bind:style="b"
          width="146"
          height="12"
          b
        />
        <rect
          x="19"
          y="54"
          display="inline"
          v-bind:style="b"
          width="146"
          height="12"
          b
        />
      </g>
      <g v-if="dsk.h3">
        <rect
          x="335"
          y="66"
          display="inline"
          v-bind:style="b"
          width="146"
          height="12"
          b
        />
        <rect
          x="19"
          y="66"
          display="inline"
          v-bind:style="b"
          width="146"
          height="12"
          b
        />
        <rect
          x="335"
          y="42"
          display="inline"
          v-bind:style="b"
          width="146"
          height="12"
          b
        />
        <rect
          x="335"
          y="90"
          display="inline"
          v-bind:style="b"
          width="146"
          height="12"
          b
        />
        <rect
          x="19"
          y="42"
          display="inline"
          v-bind:style="b"
          width="146"
          height="12"
          b
        />
        <rect
          x="19"
          y="90"
          display="inline"
          v-bind:style="b"
          width="146"
          height="12"
          b
        />
      </g>
      <g v-if="dsk.q">
        <g display="inline">
          <path
            id="path526_1_"
            v-bind:style="b"
            d="M80.9,100.8h57.4V43.3H80.9V100.8z"
            b
          />
          <path
            id="path528_1_"
            v-bind:style="b"
            d="M361.7,100.7h57.4V43.2h-57.4V100.7z"
            b
          />
        </g>
      </g>
      <g v-if="dsk.ved">
        <g display="inline">
          <path
            id="path526_2_"
            v-bind:style="b"
            d="M80.9,113.5h57.4V30.7H80.9V113.5z"
            b
          />
          <path
            id="path528_2_"
            v-bind:style="b"
            d="M361.7,113.3h57.4V30.5h-57.4V113.3z"
            b
          />
        </g>
      </g>
      <g v-if="dsk.v1k">
        <rect
          x="95"
          y="42"
          display="inline"
          v-bind:style="b"
          width="12.4"
          height="60"
          b
        />
        <rect
          x="392.6"
          y="42"
          display="inline"
          v-bind:style="b"
          width="12.4"
          height="60"
          b
        />
      </g>
      <g v-if="dsk.v2k">
        <rect
          x="82.6"
          y="42"
          display="inline"
          v-bind:style="b"
          width="12.4"
          height="60"
          b
        />
        <rect
          x="380.1"
          y="42"
          display="inline"
          v-bind:style="b"
          width="12.4"
          height="60"
          b
        />
        <rect
          x="107.4"
          y="42"
          display="inline"
          v-bind:style="b"
          width="12.4"
          height="60"
          b
        />
        <rect
          x="405"
          y="42"
          display="inline"
          v-bind:style="b"
          width="12.4"
          height="60"
          b
        />
      </g>
      <g v-if="dsk.v3k">
        <rect
          x="95"
          y="42"
          display="inline"
          v-bind:style="b"
          width="12.4"
          height="60"
          b
        />
        <rect
          x="392.6"
          y="42"
          display="inline"
          v-bind:style="b"
          width="12.4"
          height="60"
          b
        />
        <rect
          x="417.4"
          y="42"
          display="inline"
          v-bind:style="b"
          width="12.4"
          height="60"
          b
        />
        <rect
          x="70.1"
          y="42"
          display="inline"
          v-bind:style="b"
          width="12.4"
          height="60"
          b
        />
        <rect
          x="119.9"
          y="42"
          display="inline"
          v-bind:style="b"
          width="12.4"
          height="60"
          b
        />
        <rect
          x="367.7"
          y="42"
          display="inline"
          v-bind:style="b"
          width="12.4"
          height="60"
          b
        />
      </g>
      <g v-if="dsk.v4k">
        <rect
          x="95"
          y="42"
          display="inline"
          v-bind:style="b"
          width="12.4"
          height="60"
          b
        />
        <rect
          x="392.6"
          y="42"
          display="inline"
          v-bind:style="b"
          width="12.4"
          height="60"
          b
        />
        <rect
          x="417.4"
          y="42"
          display="inline"
          v-bind:style="b"
          width="12.4"
          height="60"
          b
        />
        <rect
          x="70.1"
          y="42"
          display="inline"
          v-bind:style="b"
          width="12.4"
          height="60"
          b
        />
        <rect
          x="119.9"
          y="42"
          display="inline"
          v-bind:style="b"
          width="12.4"
          height="60"
          b
        />
        <rect
          x="367.7"
          y="42"
          display="inline"
          v-bind:style="b"
          width="12.4"
          height="60"
          b
        />
        <rect
          x="45.2"
          y="42"
          display="inline"
          v-bind:style="b"
          width="12.4"
          height="60"
          b
        />
        <rect
          x="442.4"
          y="42"
          display="inline"
          v-bind:style="b"
          width="12.4"
          height="60"
          b
        />
      </g>
      <g v-if="dsk.v1">
        <rect
          x="95"
          y="30.5"
          display="inline"
          v-bind:style="b"
          width="12.4"
          height="83"
          b
        />
        <rect
          x="392.6"
          y="30.5"
          display="inline"
          v-bind:style="b"
          width="12.4"
          height="83"
          b
        />
      </g>
      <g v-if="dsk.v2">
        <rect
          x="82.6"
          y="30.5"
          display="inline"
          v-bind:style="b"
          width="12.4"
          height="83"
          b
        />
        <rect
          x="380.1"
          y="30.5"
          display="inline"
          v-bind:style="b"
          width="12.4"
          height="83"
          b
        />
        <rect
          x="107.4"
          y="30.5"
          display="inline"
          v-bind:style="b"
          width="12.4"
          height="83"
          b
        />
        <rect
          x="405"
          y="30.5"
          display="inline"
          v-bind:style="b"
          width="12.4"
          height="83"
          b
        />
      </g>
      <g v-if="dsk.v3">
        <rect
          x="95"
          y="30.5"
          display="inline"
          v-bind:style="b"
          width="12.4"
          height="83"
          b
        />
        <rect
          x="392.6"
          y="30.5"
          display="inline"
          v-bind:style="b"
          width="12.4"
          height="83"
          b
        />
        <rect
          x="417.4"
          y="30.5"
          display="inline"
          v-bind:style="b"
          width="12.4"
          height="83"
          b
        />
        <rect
          x="70.1"
          y="30.5"
          display="inline"
          v-bind:style="b"
          width="12.4"
          height="83"
          b
        />
        <rect
          x="119.9"
          y="30.5"
          display="inline"
          v-bind:style="b"
          width="12.4"
          height="83"
          b
        />
        <rect
          x="367.7"
          y="30.5"
          display="inline"
          v-bind:style="b"
          width="12.4"
          height="83"
          b
        />
      </g>
      <g v-if="dsk.v4">
        <rect
          x="95"
          y="30.5"
          display="inline"
          v-bind:style="b"
          width="12.4"
          height="83"
          b
        />
        <rect
          x="392.5"
          y="30.5"
          display="inline"
          v-bind:style="b"
          width="12.4"
          height="83"
          b
        />
        <rect
          x="417.4"
          y="30.5"
          display="inline"
          v-bind:style="b"
          width="12.4"
          height="83"
          b
        />
        <rect
          x="70.1"
          y="30.5"
          display="inline"
          v-bind:style="b"
          width="12.4"
          height="83"
          b
        />
        <rect
          x="119.9"
          y="30.5"
          display="inline"
          v-bind:style="b"
          width="12.4"
          height="83"
          b
        />
        <rect
          x="367.6"
          y="30.5"
          display="inline"
          v-bind:style="b"
          width="12.4"
          height="83"
          b
        />
        <rect
          x="45.2"
          y="30.5"
          display="inline"
          v-bind:style="b"
          width="12.4"
          height="83"
          b
        />
        <rect
          x="442.4"
          y="30.5"
          display="inline"
          v-bind:style="b"
          width="12.4"
          height="83"
          b
        />
      </g>
      <g v-if="dsk.v1d">
        <rect
          x="91"
          y="30.5"
          display="inline"
          v-bind:style="b"
          width="20"
          height="83"
          b
        />
        <rect
          x="390"
          y="30.5"
          display="inline"
          v-bind:style="b"
          width="20"
          height="83"
          b
        />
      </g>
      <g v-if="dsk.v2d">
        <rect
          x="111"
          y="30.5"
          display="inline"
          v-bind:style="b"
          width="20"
          height="83"
          b
        />
        <rect
          x="71"
          y="30.5"
          display="inline"
          v-bind:style="b"
          width="20"
          height="83"
          b
        />
        <rect
          x="410"
          y="30.5"
          display="inline"
          v-bind:style="b"
          width="20"
          height="83"
          b
        />
        <rect
          x="370"
          y="30.5"
          display="inline"
          v-bind:style="b"
          width="20"
          height="83"
          b
        />
      </g>
      <g v-if="dsk.v3d">
        <rect
          x="91"
          y="30.5"
          display="inline"
          v-bind:style="b"
          width="20"
          height="83"
          b
        />
        <rect
          x="390"
          y="30.5"
          display="inline"
          v-bind:style="b"
          width="20"
          height="83"
          b
        />
        <rect
          x="131"
          y="30.5"
          display="inline"
          v-bind:style="b"
          width="20"
          height="83"
          b
        />
        <rect
          x="51"
          y="30.5"
          display="inline"
          v-bind:style="b"
          width="20"
          height="83"
          b
        />
        <rect
          x="430"
          y="30.5"
          display="inline"
          v-bind:style="b"
          width="20"
          height="83"
          b
        />
        <rect
          x="350"
          y="30.5"
          display="inline"
          v-bind:style="b"
          width="20"
          height="83"
          b
        />
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  props: {
    position: Number,
    present: Boolean
  },
  data: () => ({}),
  computed: {
    a() {
      let a = {
        fill: "#039"
      };
      if (!this.present) a.fill = "616161";
      return a;
    },
    b() {
      let b = {
        fill: "#199cd9"
      };
      if (!this.present) {
        b.fill = "#e0e0e0";
        return b;
      }
      switch (this.position) {
        case 8:
          // Beauftragter f. ÖA
          b.fill = "white";
          break;

        case 9:
          // Schirrmeister
          b.fill = "white";
          break;

        case 10:
          // Verwaltungsbeauftragter
          b.fill = "white";
          break;

        case 11:
          // OV-Koch
          b.fill = "white";
          break;

        case 12:
          // Ausbildungsbeauftragter
          b.fill = "white";
          break;

        case 13:
          // Fachberater
          b.fill = "white";
          break;

        case 14:
          // Stellv. OB
          b.fill = "white";
          break;

        case 15:
          // Ortsbeauftragter
          b.fill = "#feeb1a";
          break;

        case 16:
          // Helfersprecher
          b.fill = "#feeb1a";
          break;

        case 17:
          // Stellv. Helfersprecher
          b.fill = "#feeb1a";
          break;

        case 18:
          // Junghelfer
          b.fill = "#f59c00";
          break;

        case 19:
          // Junghelfer +
          b.fill = "#f59c00";
          break;

        case 20:
          // OJB
          b.fill = "#f59c00";
          break;

        case 21:
          // Stellv. OJB
          b.fill = "#f59c00";
          break;

        default:
          break;
      }
      return b;
    },
    dsk() {
      let dsk = {
        v1: false,
        v2: false,
        v3: false,
        v4: false,
        v1d: false,
        v2d: false,
        v3d: false,
        v1k: false,
        v2k: false,
        v3k: false,
        v4k: false,
        ved: false,
        h1: false,
        hq: false,
        h2q: false,
        h2: false,
        h3: false,
        hd: false,
        q: false
      };
      switch (this.position) {
        case 1:
          // Helfer
          break;

        case 2:
          // Truppführer
          dsk.v1d = true;
          break;

        case 3:
          // Gruppenführer
          dsk.v2d = true;
          break;

        case 4:
          // Zugtruppführer
          dsk.v3d = true;
          break;

        case 5:
          // Sachgebietsleiter
          dsk.v3d = true;
          break;

        case 6:
          // Zugführer
          dsk.q = true;
          break;

        case 8:
          // Beauftragter f. ÖA
          dsk.v1d = true;
          break;

        case 9:
          // Schirrmeister
          dsk.v1d = true;
          break;

        case 10:
          // Verwaltungsbeauftragter
          dsk.v1d = true;
          break;

        case 11:
          // OV-Koch
          dsk.v1d = true;
          break;

        case 12:
          // Ausbildungsbeauftragter
          dsk.v2d = true;
          break;

        case 13:
          // Fachberater
          dsk.v2d = true;
          break;

        case 14:
          // Stellv. OB
          dsk.v3d = true;
          break;

        case 15:
          // Ortsbeauftragter
          dsk.v1d = true;
          break;

        case 16:
          // Helfersprecher
          dsk.v1k = true;
          break;

        case 17:
          // Stellv. Helfersprecher
          dsk.v1k = true;
          break;

        case 18:
          // Junghelfer
          break;

        case 19:
          // Junghelfer +
          break;

        case 20:
          // OJB
          dsk.v1 = true;
          break;

        case 21:
          // Stellv. OJB
          dsk.v1k = true;
          break;

        default:
          break;
      }
      return dsk;
    }
  }
};
</script>
