<template>
  <v-card
    :width="card.width"
    :class="{
      'grey darken-2': !user.present,
      'blue darken-4': user.present,
      'rounded-card ma-2': true
    }"
    dark
  >
    <div class="pa-1 grey lighten-2">
      <DSK
        :position="user.position ? user.position.id : 0"
        :present="user.present"
        class="mb-n2"
      />
    </div>
    <div class="py-1 px-2">
      <div
        class="subheading"
        v-bind:style="{
          fontSize: card.nameSize + 'rem',
          'margin-bottom': card.distance + 'px'
        }"
      >
        {{ user.first_name }} {{ user.last_name }}
      </div>
      <span
        class="grey--text text--lighten-2 font-weight-light"
        v-bind:style="{ fontSize: card.positionSize + 'rem' }"
        >{{ position }}</span
      >
    </div>
  </v-card>
</template>

<script>
import DSK from "@/components/DSK.vue";

export default {
  components: {
    DSK
  },
  props: {
    user: Object,
    card: Object
  },
  computed: {
    position() {
      let text = "-";
      if (this.user.position !== null) {
        switch (this.user.gender) {
          case "m":
            text = this.user.position.male;
            break;

          case "f":
            text = this.user.position.female;
            break;

          case "x":
            text = this.user.position.inter;
            break;

          default:
            text = this.user.position.inter;
            break;
        }
        if (this.user.position.id == 2 || this.user.position.id == 3)
          text += " " + this.user.division.short_name;
      }
      return text;
    },
    positionImg() {
      let image = "1";
      if (this.user.position !== null && this.user.position.image !== null) {
        image = this.user.position.image;
      }
      switch (this.user.present) {
        case true:
          return "./dsk/active/" + image + ".svg";

        case false:
          return "./dsk/not/" + image + ".svg";

        default:
          return "./dsk/not/" + image + ".svg";
      }
    }
  }
};
</script>

<style>
svg .a {
  fill: azure;
}
.rounded-card {
  border-radius: 5px;
}
</style>
