<template>
  <v-app>
    <v-app-bar app fixed color="primary" dark>
      <v-toolbar-title class="text-h4">Anwesenheit</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-title
        class="text-h4 font-weight-bold"
        v-html="staerke"
      ></v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-title class="text-h4">{{ time }}</v-toolbar-title>
    </v-app-bar>

    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
import Pusher from "pusher-js";

export default {
  name: "home",
  data: () => ({
    time: "11:22"
  }),
  created() {
    setInterval(this.updateTime, 10000);
    this.updateTime();
    this.subscribe();
  },
  computed: {
    staerke() {
      return this.$store.getters.staerke;
    }
  },
  methods: {
    updateTime() {
      var cd = new Date();
      this.time =
        this.zeroPadding(cd.getHours(), 2) +
        ":" +
        this.zeroPadding(cd.getMinutes(), 2);
    },
    zeroPadding(num, digit) {
      var zero = "";
      for (var i = 0; i < digit; i++) {
        zero += "0";
      }
      return (zero + num).slice(-digit);
    },
    subscribe() {
      let pusher = new Pusher(process.env.VUE_APP_PUSHER_API, {
        cluster: "eu",
        authEndpoint: process.env.VUE_APP_PUSHER_AUTH,
        encrypted: true,
        disableStats: true,
        auth: {
          headers: {
            Authorization: this.$store.getters.bearer
          }
        }
      });
      pusher.subscribe("presence");
      pusher.bind("user.presence.updated", data => {
        this.$store.dispatch("updateUser", data.user);
      });
    }
  }
};
</script>

<style>
html {
  overflow: hidden;
}
</style>
